$route-tabs-bar-nav-border-color: #eaeaea;
$route-tabs-color: #333;
$route-tabs-color-active: #2d8cf0;

.route-tabs {
  height: 42px;
  background-color: #f5f5f5;
  .route-tabs-bar {
    position: relative;
    height: 42px;
    .route-tabs-bar-controls {
      display: flex;
      float: left;
      align-items: center;
      box-sizing: border-box;
      user-select: none;
      height: 28px;
      margin: 7px 20px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: inset 0 0px 5px #f5f5f5;
      a {
        position: relative;
        display: block;
        float: left;
        width: 40px;
        height: 26px;
        color: $route-tabs-color;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        &:first-child:after {
          position: absolute;
          top: 8px;
          right: 0;
          width: 1px;
          height: 12px;
          content: '';
          background-color: #f0f2f5;
        }
        &:hover {
          color: $route-tabs-color-active;
          cursor: pointer;
        }
        &.disabled,
        &.disabled:hover {
          color: #ccc;
          cursor: not-allowed;
        }
      }
    }
    .route-tabs-bar-nav {
      position: absolute;
      top: 0;
      left: 115px;
      right: 12px;
      white-space: nowrap;
      overflow: hidden;
      transition: all 0.2s;
      &.show-controls {
        padding: 0 24px;
      }
      .route-tabs-bar-nav-left,
      .route-tabs-bar-nav-right {
        position: absolute;
        z-index: 10;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 24px;
        height: 42px;
        line-height: 40px;
        text-align: center;
        transition: all 3s;
        background-color: #f5f5f5;
        box-shadow: 0 5px 15px #d0d0d0;
        color: #333;
        cursor: pointer;
        &:hover {
          color: $route-tabs-color-active;
        }
      }
      .route-tabs-bar-nav-right {
        left: auto;
        right: 0;
      }
      .route-tabs-bar-nav-inner {
        margin-top: 8px;
        padding: 0 8px;
        list-style: none;
        display: inline-flex;
        transition: all 0.2s;
        .tab-item {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          height: 34px;
          line-height: 1;
          color: lighten($route-tabs-color, 20%);
          background-color: $route-tabs-bar-nav-border-color;
          filter: drop-shadow(0px 0px 1px #ccc);
          border-radius: 4px 4px 0 0;
          padding: 0 8px;
          margin: 0 3px;
          cursor: default;
          user-select: none;

          &:before,
          &:after {
            content: '';
            position: absolute;
            top: 0;
            border-top: 39px solid transparent !important;
            pointer-events: none;
          }
          &:before {
            border-right: 8px solid $route-tabs-bar-nav-border-color;
            left: -8px;
            z-index: 2;
            width: 0;
            border-radius: 4px 4px 0 0;
            pointer-events: none;
          }
          &:after {
            border-left: 8px solid $route-tabs-bar-nav-border-color;
            right: -8px;
            z-index: 0;
          }
          .tab-item-inner {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            min-width: 4em;
            max-width: 8em;
            padding-left: 2px;
            padding-right: 2px;
            .tab-item-icon {
              position: relative;
              margin-right: 6px;
            }
            .tab-item-name {
              flex: 1;
              text-align: center;

              margin-top: 2px;
              // max-width: 120px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            .tab-item-close {
              position: relative;
              display: block;
              width: 14px;
              height: 14px;
              margin-right: -5px;
              margin-left: 8px;
              color: #333;
              font-size: 12px;
              transition: all 0.2s;
              line-height: 1;
              cursor: pointer;
              .next-icon-close {
                margin: -1px;
              }
              &:hover:after {
                content: '';
                position: absolute;
                left: -3px;
                top: -3px;
                background-color: #ccc;
                border-radius: 50%;
                z-index: -1;
                width: 19px;
                height: 19px;
                transition: background-color ease-in 300ms;
              }
            }
          }

          // 激活状态
          &.active {
            background-color: #fff;
            z-index: 4;
            .tab-item-close {
              display: block !important;
            }
            &:before,
            &:after {
              border-color: #fff;
            }
            .tab-item-inner {
              color: $route-tabs-color-active;
              &:before {
                border-color: #fff;
                border-top-width: 40px !important;
              }
              &:after {
                border-left-color: #fff;
                border-top-width: 40px !important;
              }
            }
          }
        }
      }
    }
  }
}

.route-tabs-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - 94px);
  padding: 12px;
  overflow: auto;
  overflow-x: hidden;
  .ka-wrapper,
  .ka-content {
    min-height: 100%;
  }
}

// 右键菜单
.tabs-item-context-menu {
  max-width: 120px;
  .next-menu-item:not(.next-disabled):hover {
    color: $route-tabs-color-active !important;
  }
}
