build/
public/
tests/
/demo/
.ice/
.history/
coverage/
dist/
LICENSE
docker
Dockerfile*
.dockerignore
.DS_Store
.gitignore
.prettierignore
.eslintignore
.editorconfig
.eslintcache
*.png
**/*.svg
package.json
**/*-min.js
**/*.min.js
package-lock.json
*.lock