@import '@settings';

$basic-layout-aside-bgColor-light: #fff;
$basic-layout-aside-bgColor-dark: $color-brand1-6;

.basic-layout {
  height: 100vh;

  .content {
    background: url('~@/assets/img/bg.jpg');
    background-size: cover;
  }

  :global {
    .next-shell-header {
      flex-shrink: 0;
      border-bottom: none;
    }
    .next-shell-main .next-shell-content {
      padding: 0 !important;
    }
    .next-shell-aside {
      .navigation {
        background-color: #fff;

        &.next-shell-collapse {
          .local-nav-trigger {
            color: #fff;
            background-color: $color-brand1-6;
          }
        }
        /* 折叠控制 */
        .local-nav-trigger {
          position: absolute !important;
          right: 0;
          z-index: 1;
          border-radius: 0;
          border-top-right-radius: $corner-1;
          border-bottom-right-radius: $corner-1;
          transition: all 0.3s;
          &:hover {
            color: #fff;
            background-color: $color-brand1-6;
            transition: all 0.3s;
          }
        }
        .next-menu-item-inner {
          padding-right: 20px;
        }
        .next-nav.next-ver.next-left .next-nav-item:before {
          left: 0;
        }
        .next-nav.next-ver.next-right .next-nav-item:before {
          right: 0;
        }
      }
    }
    .next-shell-sub-main {
      overflow: hidden;
    }
  }

  &.dark {
    :global {
      .next-shell-aside.next-shell-navigation.navigation {
        background-color: $basic-layout-aside-bgColor-dark;
      }
      .next-nav-item.next-menu-item {
        color: #fff;
        &.next-opened {
          color: #fff;
          &.next-nav-popup {
            color: #fff;
          }
        }
      }
    }
  }
}

:global {
  .next-shell.next-shell-tablet,
  .next-shell.next-shell-phone {
    .next-shell-aside.next-aside-localnavigation {
      width: unset;
    }
  }
}
