@import '@settings';

.headerNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: $header-height;
  overflow: hidden;
  .next-menu {
    .next-menu-item {
      i {
        margin-right: 1em;
      }
    }
  }

  :global {
    .next-nav.next-normal {
      background-color: transparent;
    }
    .next-nav.next-normal .next-nav-item.next-menu-item {
      color: $header-nav-color;
      background-color: $header-nav-bg-color;
      &.next-selected {
        color: $header-nav-color-active;
        background-color: $header-nav-bg-color-active;
        .next-menu-item-inner {
          line-height: $header-height + 1px;
        }
      }
      &.next-focused,
      &:hover {
        background-color: $header-nav-bg-color-active;
        color: #fff;
      }
    }

    .next-nav.next-hoz .next-menu-item-inner {
      height: $header-height;
      font-size: $header-nav-size;
      line-height: $header-height;
    }
    .next-nav.next-hoz .next-selected.next-nav-item::before {
      height: 4px;
    }
  }
}
.headerNavbarMenu {
  background-color: transparent;
  border: 0 none;
  box-shadow: none !important;
}
