@import '@settings';

/* == RouterTabs */
$routerTabs-height: 40px;
$routerTabs-item-max-width: 6em;
$routerTabs-item-min-width: 2em;
$routerTabs-text-size: $font-size-body-2;
$routerTabs-border-radius: $corner-2;
$routerTabs-box-shadow: rgba(0, 0, 0, 0.18) 0 1px 1px 0, inset rgba(0, 0, 0, 0.24) 0 5px 2px;
$routerTabs-item-box-shadow: rgba(0, 0, 0, 0.18) 4px -4px 10px 0;
$routerTabs-item-box-shadow-2: rgba(0, 0, 0, 0.12) 4px -4px 10px 0;

.router-tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.router-tabs-content {
  position: relative;
  display: flex;
  flex: 1;
}
.router-tabs-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: none;
  &.active {
    z-index: 1;
    display: block;
  }
}
.extraIframe {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1;
  min-width: 80px;
  min-height: 30px;
  overflow: hidden;
}
