@import "~@alifd/next/variables.scss";

//== RouterTabs
$routerTabs-height: 40px;
$routerTabs-item-max-width: 6em;
$routerTabs-item-min-width: 2em;
$routerTabs-text-size: $font-size-body-2;
$routerTabs-border-radius: $corner-2;
$routerTabs-box-shadow: rgba(0, 0, 0, 0.18) 0 1px 1px 0, inset rgba(0, 0, 0, 0.24) 0 5px 2px;
$routerTabs-item-box-shadow: rgba(0, 0, 0, 0.18) 4px -4px 10px 0;
$routerTabs-item-box-shadow-2: rgba(0, 0, 0, 0.12) 4px -4px 10px 0;

.router-tabs-tags {
  position: relative;
  display: flex;
  clear: both;
  height: $routerTabs-height;
  max-height: $routerTabs-height;
  overflow: hidden;
  line-height: $routerTabs-height;
  // box-shadow: $routerTabs-box-shadow;
  transition: all 0.3s;
  user-select: none;

  .tag {
    height: $routerTabs-height - 4px;
    margin-top: 4px;
    padding: 0 3px;
    color: #666 !important;
    font-size: $routerTabs-text-size;
    line-height: $routerTabs-height - 4px;
    border: 0 none !important;
    border-radius: $routerTabs-border-radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: $routerTabs-item-box-shadow-2;
    .icon {
      position: relative;
      top: -1px;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 8px;
      background: #e9eaec;
      border-radius: 50%;
    }
    &.active {
      color: inherit !important;
      background: #fff !important;
      box-shadow: $routerTabs-item-box-shadow;
      .icon {
        background: #2d8cf0;
      }
    }
    :global {
      .next-tag-close-btn {
        margin-top: -4px;
      }
    }
  }
}
.router-tabs-tags-box {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
}
.router-tabs-tags-cont {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 10px;
  overflow-x: auto;
  white-space: nowrap;
}
.router-tabs-options {
  position: relative;
  z-index: 1;
  height: 100%;
  background: #fff;
  box-shadow: -3px 0 15px 3px rgba(0, 0, 0, 0.1);
}
